<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>DeveloperPython</title>
</head>

<body>
<h1>这是简单的计算器!</h1>

<h2>加法操作</h2>
<form method="GET" action="/add">
    <input name="one" type="text"/> +
    <input name="two" type="text"/>
    <input name="submit" type="submit" value="等于"/>
</form>

<h2>乘法操作</h2>
<form method="GET" action="/mul">
    <input name="one" type="text"/> X
    <input name="two" type="text"/>
    <input name="submit" type="submit" value="等于"/>
</form>

<br>
<br>

<h2>加减乘除四种运算</h2>
<form method="GET" action="/comp">
    <input name="one" type="text"/> <br>
    <input name="mode" type="text"/> 这里只能输入+-*/ 加减乘除四种方式 <br>
    <input name="two" type="text"/> <br>
    <input name="submit" type="submit" value="等于"/>
</form>
</body>

</html>